URxvt.buffered: true
URxvt*urgentOnBell: true
URxvt*visualBell:   true
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard,font-size,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt*termName: rxvt-unicode-256color
URxvt.transparent: false
URxvt*background: #151515
!URxvt*background: #3d518c
URxvt.scrollBar: false
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.dpi: 96
Xft.rgba: rgb
URxvt.font: xft:Meslo LG S for Powerline:pixelsize=12
URxvt.internalBorder: 20
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal


!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #454545
*.cursorColor: #afbfbf

! black
*.color0: #151515
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #ee9963

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #263640
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3